@import "../../styles/globals.scss";

.actionContainer {
  @extend .text-sm;
  min-width: 180px;
  border-radius: 4px;
  background-color: #fff;
  position: absolute;
  right: 0;
  border: 1px solid rgba(84, 95, 125, 0.04);
  button {
    display: flex;
    align-items: center;
    padding: 1.25rem;

    svg {
      margin-right: 0.5em;
    }

    &:hover {
      opacity: 0.8;
    }
  }
}
