@import "../../styles/globals.scss";

.usersContainer {
  h3 {
    @extend .text-lg;
    color: $clr-primary;
    font-weight: bold;
  }
  > div {
    display: flex;
    align-items: center;
    margin-block: 2.5rem;
    gap: 1.625rem;

    div {
      background: #fff;
      padding: 1.875em;
      flex-basis: calc(100% / 4);
      min-height: min(10rem, auto);
      box-shadow: 3px 5px 20px 0 #0000000a;

      img {
        margin-bottom: 0.625rem;
      }
      p {
        @extend .text-sm;
        text-transform: uppercase;
        white-space: nowrap;
        margin-top: 0.625rem;
        &:last-child {
          @extend .text-lg;
          font-weight: bold;
        }
      }
    }
  }
}

.tableWrapper {
  min-width: min(1038px, 100%);
  overflow: auto;

  .table {
    width: 100%;
    border-collapse: collapse;
    // table-layout: fixed;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 3px 5px 20px 0 #0000000a;
    padding: 1.875rem;
    border-radius: 4px;
    border: 1px solid rgba(33, 63, 125, 0.06);

    th,
    td {
      padding-block: 1.5rem;
      padding-inline: 1.875rem;
      text-align: left;
    }
    th {
      @extend .text-xsm;
      font-weight: 600;
      white-space: nowrap;
      text-transform: uppercase;
      div {
        display: inline-flex;
      }

      .filter {
        position: relative;
      }
    }

    tbody {
      margin-block: 2.5rem;
    }

    button {
      border: 0;
      outline: 0;
      cursor: pointer;
      background-color: transparent;
    }
  }
}

// @media ((min-width: 48em) and (max-width: 55em)) {
//   .usersContainer {
//     .user {
//       div {
//         flex-basis: calc(100 / 2) !important;
//         padding: 0;
//       }
//     }
//   }
// }

@media (max-width: 60em) {
  .usersContainer {
    > div {
      gap: 0.5em;
      flex-wrap: wrap;

      div {
        flex-basis: calc(50%);
      }
    }
  }
  .section {
    .table {
      &::-webkit-scrollbar {
        width: 15px;
      }

      &::-webkit-scrollbar-thumb {
        height: 3px;
        background: rgba($color: $clr-secondary, $alpha: 0.6);
        border-radius: 8px;
      }
    }
  }
}

@media ((min-width: 60em) and (max-width: 64em)) {
  .usersContainer {
    > div {
      row-gap: 1em;
      flex-wrap: wrap;

      div {
        flex-basis: calc(100%) / 3;
        flex-wrap: wrap;
      }
    }
  }
}
