$clr-primary: #213f7d;
$clr-secondary: #545f7d;
$clr-accent: #39cdcc;
$clr-neutral-white: #fff;
$clr-neutral-shade--one: #fbfbfb;
$clr-primary-shade: hsla(220, 58%, 31%, 0.1);
$clr-semantic-focus: hsla(180, 60%, 51%, 1);
$clr-semantic-danger: #e4033b;
$clr-rating-gold: #e9b200;

$fs-normal: 1rem;
$fs-medium: 1.25rem;
$fs-small--one: 0.875rem;
$fs-small--two: 0.75rem;
$fs-heading: 2.5rem;
$fs-large--one: 1.5rem;
$fs-large--two: 1.375rem;

/* Utility classes */

.sidebar {
  max-width: 283px;
}

.text-heading {
  font-weight: 700;
  font-size: $fs-heading;
  color: $clr-primary;
}

.text-xl {
  font-weight: 500;
  font-size: $fs-large--one;
  color: $clr-primary;
}

.text-lg {
  font-weight: 500;
  font-size: $fs-large--two;
  color: $clr-primary;
}

.text-md {
  font-weight: 400;
  font-size: $fs-medium;
  color: $clr-secondary;
}

.text-normal {
  font-weight: 400;
  font-size: $fs-normal;
  color: $clr-secondary;
}
.text-sm {
  font-weight: 400;
  font-size: $fs-small--one;
  color: $clr-secondary;
}

.text-sm-primary {
  font-weight: 400;
  font-size: $fs-small--one;
  color: $clr-primary;
}

.text-xsm {
  font-weight: 400;
  font-size: $fs-small--two;
  color: $clr-secondary;
}

@mixin even-columns {
  display: flex;
  justify-content: space-around;
}

.button {
  min-width: min(447px, 100%);
  height: 50px;
  border-radius: 8px;
  outline: 0;
  border: 0;
  color: $clr-neutral-white;
  background-color: $clr-accent;
  cursor: pointer;
}
.button:hover,
.button [role="button"] {
  opacity: 0.9;
}

.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
