@import "../../styles/globals.scss";

.main {
  --padding: 3.75rem;
  background: #fbfbfb;
  width: calc(100% - 283px);
  padding: var(--padding);
  overflow: hidden;
}

@media ((min-width: 30em) and (max-width: 48em)) {
  .main {
    padding: 1rem;
    min-width: 100%;
  }
}
